.header {
    display: flex;
    gap: 80px;

    padding: 15px;
    background-color: #E5C775;

    font-family: sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;

    flex-grow: 1;
}

.stat-container {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 1400px;

    gap: 15px;
}

.stat {
    background-color: #F6F6F6;
    border-radius: 12px;

    min-width: 300px;
    max-width: 700px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 7.5px 0px;

    flex-grow: 1
}

.stat p {
    margin: 0;
}

.header-stat {
    font-weight: bold;
}

.stat-caption {
    color: #2D2E2EB2
}

#check {
    font-size: 24px;
}

.menu {
    display: flex;
    align-items: center;

    background-color: #F6F6F6;

    border-radius: 400px;

    flex-shrink: 1;
}

.menu a {
    text-decoration: none;
    color: #2D2E2E;
    margin-left: 28px;
}
.profile-icon {
    background-color: #234654;
    padding: 12px;
    border-radius: 50%;

    margin-left: 38px;
}