.header {
    display: flex;
    gap: 70px;

    padding: 15px;
    background-color: #E5C775;

    font-family: sans-serif;
}

.logo {
    margin-left: 25px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;

    flex-grow: 1;
}

.stat-container {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 1400px;

    gap: 15px;
}

.stat {
    background-color: #F6F6F6;
    border-radius: 12px;

    min-width: 300px;
    max-width: 700px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 7.5px 0px;

    flex-grow: 1
}

.stat p {
    margin: 0;
}

.header-stat {
    font-weight: bold;
}

.stat-caption {
    color: #2D2E2EB2
}

#check {
    font-size: 24px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #F6F6F6;
    border-radius: 400px;

    flex: 0 1 300px;
    gap: 14px;
}

.menu a {
    text-decoration: none;
    color: #2D2E2E;
    margin-left: 28px;
}
.profile-icon {
    background-color: #234654;
    padding: 12px;
    border-radius: 50%;
}

/* tablet css */
@media (max-width: 781px) {

    .logo {
        height: 60px;
    }

    .header {
        height: 200px;
        gap: 20px;
    }

    .header-content {
        display: flex;
        flex-direction: column-reverse;

        align-items: flex-end;

        gap: 20px;

        padding: 10px;
    }

    .stat-container {
        height: 50px;
        gap: 10px;

        margin-left: -100px;
    }

    .stat {
        min-width: 375px;

        /* to fill the navbar */
        max-width: 800px; 
    }
}