body {
    margin: 0;
}

main {
    display: flex;
    gap: 0px;
}

.calendar {
    padding: 20px;
    margin: 10px;
    width: 1200px;
    height: auto;
    background-color: rgba(246, 246, 246, 1);
}


.menu #dashboard{
    background-color: #234654;
    border-radius: 400px;
    padding: 16px;
    color: var(--primary-beige, #FEFAE0);
}