/* Document Containers */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

/* Navbar */
nav {
    height: 96px; /* 9.38% */
    width: 100%;

    background-color: #E5C775;
}

nav a {
    float: right;
    right: 5px;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5rem; /* Add padding to create space from the left edge */
    height: 338px; /* 31.17% */
    color: #FFFFFF;
    background-image: url('background.png');
    background-size: cover;
    background-color: #23465450;
    background-blend-mode: darken;
    text-align: left;
}

header h2 {
    font-size: 1.5em;
    opacity: 0.9;
    margin: 0 0 10px 0; /* Adjust the bottom margin value as needed */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    opacity: 1;
}

/* Body */
#body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 5rem 20px 5rem;
    gap: 42px;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px; /* Adjust height as needed */
    margin-bottom: 20px;
}

#body img {
    width: 360px;
    height: 200px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #555555;
    margin-bottom: 20px;
}

#description {
    font-size: 12px;
    color: #234654;
}

#body p {
    max-width: 750px;
    color: #234654;
    line-height: 1.6;
}

/* Footer */
footer {
    height: 65px; /* 6.35% */
    background-color: #234654;
    padding: 0 5rem 0 5rem;
    display: flex;
    align-items: center;
}

footer a {
    color: var(--primary-gray, #F6F6F6);
}