/* Snippet Container */
/* TODO: Remove/change ratios for better tablet/phone implementation */
#snippet {
  display: block;
  position: absolute;
  top: 105px; /* CURRENT: header + 20px = 105px; PREV: 116px / 1024px */
  right: 1.4%; /* 20px / 1440px */

  height: 52.54%; /* 538px / 1024px */
  width: 57.91%; /* 834px / 1440px */ 
  border-radius: 12px;

  justify-content: center;

  color: #2D2E2EB2;
  background-color: #F6F6F6;
} 

/* Snippet Title */
/* TODO: 
- add global font-family
- make weight and size dynamic (currently static from Figma) */
#snippet h1 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 24px; 
}

/* Code Snippets */
#snippet ul {
  list-style-type: none;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.snippet-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  margin: 5px;
}

.snippet-box p {
  margin: 0;
}

/* Snippet Submission Form */
#snippet form {
  width: 100%;
  background-color: #e5c775;
}