#snippet {
    display: flex;
    position: fixed;
    top: 11.3%; /* 116px / 1024px */
    right: 1.4%; /* 20px / 1440px */

    height: 52.54%; /* 538px / 1024px */
    width: 57.91%; /* 834px / 1440px */ 
    border-radius: 12px;

    justify-content: center;

    color: #2D2E2EB2;
    background-color: #F6F6F6;
} 

#snippet p {
    /* TODO: 
    - add global font-family
    - make weight and size dynamic (currently static from Figma) */
    font-weight: 400;
    font-size: 24px; 
}