body {
    margin: 0;
}

#side-calendar {
    width: 130px;
    height: 100%;

    padding: 5px 5px;

    background-color: #234654;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#side-calendar-display {
    border-spacing: 0px 20px;
}

.date-cell {
    color: white;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 18px;

    text-align: center;

    height: 50px;
    width: 120px;
}

#today-cell {
    border: 1px solid white;
    border-radius: 10px;
}