html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
}

section {
    width: 100%;
    padding: 20px;

    display: grid;
    grid-template-rows: 600px repeat(2, 0.5fr);
    grid-template-columns: 1fr 0.5fr 1fr;

    grid-gap: 16px 16px;
    flex-grow: 1;
}

#task-container {
    grid-column: 1 / 2;
    grid-row: 1 / -1
}

#snippet {
    grid-column: 2 / 4
}

completed-statistics {
    grid-column-start: 2;
    grid-row: 2 / 3;
}

snippets-statistics {
    grid-column-start: 2;
    grid-row: 3 / 4;
}

#streak-container {
    grid-column-start: 3;
    grid-row: 2 / 4;
}

.taskbox {
    grid-row-start: 4;
    grid-column: 1 / -1
}