

.textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 500px;
}

#taskInput {
    border: none;
    padding: 10px;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    width: 100%;
    height: 100px;
    resize: none;
    box-sizing: border-box;
}

textarea::placeholder {
    color: #bbb;
}

.textbox button {
    background-color: rgb(1, 64, 1);
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox button:hover {
    background-color: rgb(0, 100, 0); /* Lighter green color */
}

.textbox button:active {
    background-color: rgb(0, 128, 0); /* Darker green color for pressed effect */
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Pressed down effect */
}


.info {
    font-size: 20px;
    padding-left: 5px;
    width: 20px;
    border-radius: 15px;
    position: relative;
}

.info:hover {
    background-color: #2D2E2E;
    padding: 0 0 0 5px;
    width: 200px;
    text-align: left !important;
}

.extra-info {
    display: none;
    line-height: 30px;
    font-size: 12px;
    color: white;
    position: absolute;
    top: -5px;
    right: 15px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info:hover .extra-info {
    display: block;
}

.icon-info-sign {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #78ADC1;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

